# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

*/Debug
.vs
*.o
*.elf
*.map
*.d
**/nbproject/private
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/project.properties
**/*.X/debug
**/*.X/dist
**/*.X/build
**/*.X/.generated_files
*.bak

/wireless_apps_rnwf02/apps/tcp_server/avr128_tcp_server.X/dist/
/wireless_apps_rnwf02/apps/tcp_server/avr128_tcp_server.X/build/
/wireless_apps_rnwf02/apps/tls_client/avr128_tls_client.X/dist/
/wireless_apps_rnwf02/apps/tls_client/avr128_tls_client.X/build/
/wireless_apps_rnwf02/apps/tcp_client/avr128_tcp_client.X/build/
/wireless_apps_rnwf02/apps/tcp_client/avr128_tcp_client.X/dist/
/wireless_apps_rnwf02/apps/wifi_easy_config/avr128_wifi_easy_config.X/build/
/wireless_apps_rnwf02/apps/wifi_easy_config/avr128_wifi_easy_config.X/dist/
/wireless_apps_rnwf02/apps/azure_cloud/avr128_azure_cloud_demo.X/build/
/wireless_apps_rnwf02/apps/azure_cloud/avr128_azure_cloud_demo.X/dist/
/wireless_apps_rnwf02/apps/ota_demo/avr128_ota_demo.X/build/
/wireless_apps_rnwf02/apps/ota_demo/avr128_ota_demo.X/dist/
/apps/azure_cloud/avr128_azure_cloud_demo.X/build/
/apps/azure_cloud/avr128_azure_cloud_demo.X/dist/
/apps/basic_cloud_demo/avr128_basic_cloud_demo.X/build/
/apps/basic_cloud_demo/avr128_basic_cloud_demo.X/dist/
/apps/ota_demo/avr128_ota_demo.X/build/
/apps/ota_demo/avr128_ota_demo.X/dist/
/apps/tcp_client/avr128_tcp_client.X/build/
/apps/tcp_client/avr128_tcp_client.X/dist/
/apps/tcp_server/avr128_tcp_server.X/build/
/apps/tcp_server/avr128_tcp_server.X/dist/
/apps/tls_client/avr128_tls_client.X/dist/
/apps/tls_client/avr128_tls_client.X/build/
/apps/wifi_easy_config/avr128_wifi_easy_config.X/dist/
/apps/wifi_easy_config/avr128_wifi_easy_config.X/build/